<!--
<script type="text/javascript" src="https://www.juicer.io/embed/lilixir-beauty/embed-code.js" async defer></script>
<script type="text/javascript" src="https://www.juicer.io/embed/YOUR-JUICER-FEED-NAME/embed-code.js?per=15" async defer></script>
<ul class="juicer-feed" data-feed-id="YOUR-JUICER-FEED-NAME" data-per="15"></ul>
<div class="juicer-feed" data-feed-id="YOUR-JUICER-FEED-NAME" data-per="15"></div>
-->

<ul class="juicer-feed" data-feed-id="lilixir-beauty" data-truncate="50" data-filter="Pinterest"></ul>
<script type="text/javascript" src="https://www.juicer.io/embed/lilixir-beauty/embed-code.js?filter=Pinterest" async defer></script>